<h1>Greeter#hello <%= @name %></h1>
<p>Time : <%= formatted_time(@time) %></p>
<p>This page has been viewed <%= @times_displayed %> time(s)</p>

<br />

<p><%= link_to "Google", "http://google.com" %></p>
<p><%= link_to "GoodBye", greeter_goodbye_path %></p>